header {
    background-color: #368574;
    color: #79031D;
    font-family: Verdana, Arial, sans-serif;
    position: sticky;
    top: 0;
    height: 95px;
    z-index: 1;
}


body {
    margin: 0;
}

.MainNav {
    padding: 30px;
    z-index: 1;
}

.Nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1;
   
  
}

.Nav li {
    float: right;
    border-right: 1px solid rgb(90, 0, 0);
}

.Nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Nav li a:hover {
    background-color: rgba(255, 255, 255, 0.333);
    height: 60px;
}

.logo {
    position: absolute;
    height: 100px;
    margin-left: 10px;
    margin-top: 5px;
}

.aboutheader {
    height: 600px;
    margin-bottom: 100px;
}


.missionvision {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 100px;
}

.missionvision h1{
    font-size: 40px;
    font-weight: 300;
    color: #000;
    text-align: left;
    margin-top: 47px;
}

.missionvision h2 {
    font-size: 36px;
    color: #368574;
    text-align: left;
}
.missionvision p{
    text-align: left;
    font-size: 20px;
    font-weight: 350;
}


.history div img {
    display: block;
    margin: auto;
    width: 100%;
}

.builddiv {
    border-top: solid;
    overflow: hidden;
    width: 96%;
    margin-top: 30px;
    margin-left: 30px;
}

.builddiv .imaage {
    height: 300px;
    width: 450px;
    float: left;
    overflow: hidden;
    margin-left: 2%;
    transition: transform .2s;
    z-index: -1;

}

.builddiv .imaage:hover {
    transform: scale(1.1);
    z-index: -5;
}

.builddiv .h1{
    font-size: 40px;
    font-weight: 300px;
}


.oStudents {
    width: 22%;
    float: left;
    overflow: hidden;
    margin-left: 39px;
    margin-top: 10px;
}

#OSimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.OSname {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}


.oStudents:hover #OSimg {
    opacity: 0.7;
}

.oStudents:hover .OSname {
    opacity: 1;
    position: relative;
}

.sName {
    margin-top: -30px;
    color: black;
    font-size: 30px;
    text-align: center;
}

/* faculty */

.oFaculty {
    width: 22%;
    float: left;
    overflow: hidden;
    margin-left: 39px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#OFimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.OFname {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}


.oFaculty:hover #OFimg {
    opacity: 0.7;
}

.oFaculty:hover .OFname {
    opacity: 1;
    position: relative;
}

.fName {
    margin-top: -30px;
    color: white;
    font-size: 18px;
    text-align: center;
}