.main h1 {
    font-size: 40px;
    margin-left: 30px;
}

.evaluationdiv button{
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-radius: 15px;
}

.row{
    margin-bottom: 20px;
}