.mainselect {
    width: 40%;
    display: block;
    margin: 0 auto 50px auto;
}

select {
    appearance: none;
    background-color: transparent;
    margin: 0 auto 0 auto;
    font-family: inherit;
    line-height: inherit;

    display: block;
    text-align: center;
    width: 100%;
    min-width: 15ch;
    max-width: 50ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: .9em 0;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

}

.thead tr th {
    background-color: #FF0;
}


.accountssheet {
    width: 90%;
    min-width: 80%;
    display: block;
    margin: 20px auto;
}

.main h1 {
    margin-left: 30px;
}

.row {
    padding-left: 40px;
}

.edithere {
    width: 90%;
    display: block;
    margin: auto;
}


.accountdetailsedit {
    background-color: #d9d9d9;
    width: 100%;
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 25px;
}

input[type=text],
input[type=email] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0 8px 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.accountdetailsedit h2 {
    text-align: center;
}

button[type=submit] {
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}

#addAccount {
    border-radius: 14px;
    background: #FFF;
    width: 50%;
    height: 50px;
    flex-shrink: 0;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hyperlinkoff {
    text-decoration: none;
    color: black;
}