.mainselect {
    width: 40%;
    display: block;
    margin: 0 auto 50px auto;
}

select {
    appearance: none;
    background-color: transparent;
    margin: 0 auto 0 auto;
    font-family: inherit;
    line-height: inherit;

    display: block;
    text-align: center;
    width: 100%;
    min-width: 15ch;
    max-width: 50ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: .9em 0;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

}

.requestbar {

    display: block;
    text-align: center;
    width: 100%;
    min-width: 15ch;
    max-width: 95%;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: .9em 0;
    font-size: 1.25rem;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    margin-bottom: 10px;
}


.requestbar p {
    appearance: none;
    background-color: transparent;
    margin-left: 30px;
    font-family: inherit;
    line-height: inherit;

}

#approvebtn {
    margin-top: -39px;
    margin-right: 130px;
    float: right;
    border: none;
    background: none;
    padding: 5px
}

#declinebtn {
    overflow: hidden;
    margin-top: -39px;
    margin-right: 50px;
    float: right;
    border: none;
    background: none;
    padding:5px;

}

#declinebtn:hover,
#approvebtn:hover {
    background-color: cornsilk;
}