.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #11468f;
    overflow-x: hidden;
    padding-top: 20px;
}

.accountName {
    height: 20%;
    color: #f1f1f1;
}

.aName {
    width: 50%;
    float: left;
}

.aName p {
    margin-top: -15px;
    font-size: 15px;
}

.sidenav a {
    padding: 15px 8px 15px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #b5c6dc;
    display: block;
    margin-top: 7px;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #7594be;
}

.sidenav a.active {
    color: #f1f1f1;
    background-color: #7594be;
}


body {
    background-color: #f0f0f0;
}

.main {
    margin-left: 20%;
    padding-top: 20px;
}

.mainselect {
    width: 40%;
    display: block;
    margin: 0 auto 50px 20px;
}

select {
    appearance: none;
    background-color: transparent;
    margin: 0 auto 0 auto;
    font-family: inherit;
    line-height: inherit;

    display: block;
    text-align: center;
    width: 100%;
    min-width: 15ch;
    max-width: 50ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: .9em 0;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

}

.encodehere {
    width: 90%;
    min-width: 80%;
    display: block;
    margin: 20px auto;
}

#x1strow {
    padding-left: 50px;
    padding-right: 50px;
}

td,
th {
    text-align: center;
}

#gradefill {
    -moz-appearance: textfield;
    border: none;
    outline: none;
    width: 100%;
    text-align: center;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}